DATABASE_URL=postgresql+asyncpg://postgres:securepassword@db:5432/unsubmyemail
REDIS_URL=redis://redis:6379/0
SECRET_KEY=yoursecretkeyhere
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=unsubmyemail
DATABASE_ECHO=false
