fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv
beautifulsoup4
tqdm
requests
lxml
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
sqlalchemy[asyncio]
asyncpg
itsdangerous
cryptography
python-jose[cryptography]
bcrypt
celery
redis
